################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
Properties/
.vs/
packages/
/KnotsAndCrossesWebApp/KnotsAndCrossesWebApp.csproj.user
