################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KnotsAndCrosses/obj/Debug
/KnotsAndCrosses/Properties/AssemblyInfo.cs
/.vs/KnotsAndCrosses/v15/Server/sqlite3
/.vs/KnotsAndCrosses/v15/.suo
/KnotsAndCrosses/bin/Debug/KnotsAndCrosses.exe
/KnotsAndCrosses/bin/Debug/KnotsAndCrosses.pdb
/KnotsAndCrosses/bin/Debug/KnotsAndCrosses.exe.config
/.vs/config/applicationhost.config
/KnotsAndCrossesEngine/bin/Debug/netstandard2.0
/KnotsAndCrossesEngine/obj/Debug/netstandard2.0
/KnotsAndCrossesEngine/obj
/KnotsAndCrossesWebApp/bin/roslyn
/KnotsAndCrossesWebApp/bin
/KnotsAndCrossesWebApp/obj/Debug
/KnotsAndCrossesWebApp/KnotsAndCrossesWebApp.csproj.user
/KnotsAndCrossesWebApp/packages.config
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net45
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/content/net46
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/lib/net45
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8/tools/net45
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.8
/packages/Microsoft.Net.Compilers.2.4.0/build
/packages/Microsoft.Net.Compilers.2.4.0/tools
/packages/Microsoft.Net.Compilers.2.4.0/Microsoft.Net.Compilers.2.4.0.nupkg
/packages/Microsoft.Net.Compilers.2.4.0/ThirdPartyNotices.rtf
